<!DOCTYPE html>
<html>
    <head>
        <title>QBO API Explorer</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
    </head>
    <body>
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu">
                  <div class="item">
                    <strong><i class="connectdevelop icon large"></i></strong>
                  </div>
                  <div class="right menu">
                    <a class="item" href="/">Home</a>
                  </div>
            </div>
        </div>