<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
</head>
<div class="ui main text container" style="margin-top:5%;">
<div class="ui negative message">
    <h1 class="header">Error</h1>
    <p>Please check the id or query that you have entered!</p>
    <h1>404 Not Found</h1>
</div>
<a class="ui basic green button" href="/<%=obj%>">Go Back</a>
</div>

