<%include ./partials/header %>
<div >
    <div class="ui center aligned icon header">
        <h1 >QBO API Explorer</h1>
        <p>Please select an Object to Continue...</p>
    </div>
<br>
<div class="ui segment">
<div class="ui vertical list">
        <div class="item">
            <a href="/account" class=" circular ui secondary basic button">Account</a>
        </div>
        <div class="item">
            <a href="/bill" class=" circular ui secondary basic button">Bill</a>
        </div>
        <div class="item">
           <a href="/company_info" class="circular ui secondary basic button">Company Info</a>
        </div>
    </div>
</div>
</div>

<%include ./partials/footer %>
