<%include ./partials/header %>
<div>
    <h1 class="ui center aligned icon header"><%=obj.toUpperCase()%></h1>
    <div class="ui center aligned icon header">
    <a class="massive ui basic black button" href="/<%=obj%>/read">Read</a>
    <a class="massive ui basic black button" href="/<%=obj%>/query">Query</a>
    </div>
</div>
<%include ./partials/footer %>